/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
desktop.ini
Thumbs.db
/public/css/builds
/public/js/builds
*.wav
/public/css/fonts
/public/users/avatar
!/public/users/avatar/c4ca4238a0b923820dcc509a6f75849b.jpg
!/public/users/avatar/c81e728d9d4c2f636f067f89cc14862c.jpg
!/public/users/avatar/e4da3b7fbbce2345d7772b0674a318d5.jpg
!/public/users/avatar/8f14e45fceea167a5a36dedd4bea2543.jpg
!/public/users/avatar/1679091c5a880faf6fb5e6087eb1b2dc.jpg
*.mp4
*.m4v
*.ogv
*.webm