/*
 * Cosmos Game - main game style
 *
 * @author Eduardo Augusto Ramos
 * @version 1.0.0
 */
html {
	background: #000;
}
body {
	background: url('../../img/bg.jpg') no-repeat center center / cover;
	min-height: 800px;
	transition: 0.8s all ease;
	overflow: hidden;
}

#player-bar {
	position: fixed;
	width: 100%;
	background: #0E0F15;
	color: #fff;
	bottom: 0;
	z-index: 2;
}

#player-bar .uk-close {
	color: #333;
}

#player-bar figure {
	width: 150px;
	cursor: pointer
}

#player-bar h2 {
	color: #fff;
}

#player-bar .uk-icon-small, #player-bar .uk-close {
	margin-right: 5px
}


#player-bar .uk-close {
	font-size: 26px;
	width: 30px;
	line-height: 30px;
	margin-top: -3px
}

#player-bar .volume {
	padding: 6px;
	font-size: 26px;
	color: #333;
}

#player-bar .logout {
	padding: 6px;
	font-size: 26px;
	color: #333;
}

.button-player-bar {
	position: fixed;
	right: -55px;
	top: 200px;
	transform: rotate(-90deg);
}

.button-suggestion {
	position: fixed;
	right: -35px;
	top: 70px;
	transform: rotate(-90deg);
}

.game-section {
	padding-top: 100px
}

.game-section .cientist{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 250px
}

.game-section .cientist-message .uk-tooltip {
	position: fixed;
	bottom: 162px;
	right: 83px;
	z-index: 1;
	max-width: 270px;
	line-height: 22px;
	font-size: 16px;
	color: #fff
}

.game-section .cientist-message .message-arrow:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: -105px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #fff;
	margin-bottom: -70px;
}

.bag li {
	display: inline-block;
}

.bag figure {
	width: 60px; 
	background: #EAEAEA
}

.bag .uk-badge {
	position: absolute;
}

.bag li {
	cursor: pointer
}

#big-bang {
	font-size: 50px;
	padding: 30px;
}

.insignas li {
	display: inline-block;
}

.insignas .uk-thumbnail {
	overflow: hidden
}

::-webkit-media-controls {
  display:none !important;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}